.bartools{
    @include dflex(row, space-between, center, unset);
    grid-area: barTool;
    padding: 1rem 2rem;
    //background-color: $LightModeBackground;
    @include themed {
        background-color: themeFy("ModeBackground");
    }
    @include themed {
        color: themeFy("ModeText");
    }
    .search{        
        @include dflex(row, unset, center, 10px);
        //border: 1px solid #ebe5e5;
        padding: 7px 15px;
        border-radius: 4px;
        min-width: 300px;
        display: flex;    
        //background-color: white;
        @include themed {
            background-color: themeFy("ModeElements");
        }
        //box-shadow: 2px 4px 5px #e0dada;
        @include themed {
            box-shadow: 2px 4px 5px themeFy("ModeShadow");
        }
        

        input{
            border: none;
            outline: none;
            padding: 7px 10px;
            @include themed {
                background-color: themeFy("ModeElements");
            }
            &::placeholder{
                @include themed {
                    color: themeFy("ModeText");
                }
            }
            @include themed {
                color: themeFy("ModeText");
            }
        }
    }
    .continents{
        //width: 250px;
        height: 45px;
        

        
    }

    @media screen and (max-width:375px) {
        @include dflex(column, unset, unset, 2rem);
        .search{
            min-width: 100%;
        }
    }
}