
.country-details{
    padding: 2rem;
    @include dflex(column, unset, unset, 2rem);
    height: 100vh;
    color: $LightModeText;
    @include themed {
        background-color: themeFy("ModeBackground");
    }
    @include themed {
        color: themeFy("ModeText");
    }
    button{
        width: 100px;
        padding: 7px 20px;
        border: none;
        border-radius: 4px;
        @include dflex(row, unset, center, 5px);
        @include cursorTransition(color);
        @include themed {
            background-color: themeFy("ModeHeaderBackground");
        } 
        @include themed {
            color: themeFy("ModeText");
        }
        @include themed {
            box-shadow: 2px 4px 5px themeFy("ModeShadow");
        }
    }
    .country{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(0,1fr));
        grid-template-rows: auto auto auto;
        grid-template-areas: 'left left left top top top top'
                             'left left left middle middle right right'
                             'left left left bottom bottom bottom bottom';
        align-items: center;
        column-gap: clamp(1rem,3vw,4rem);
        row-gap: 1.5rem;

        .left{
            grid-area: left;
            //padding: 0 2rem;
            height: 100%;
            img{
               width: 100%;
               height: 100%;
            }
        }
        .top{
            grid-area: top;
            h1{
                font-size: clamp(1.5rem, 3vw, 2.5rem);
            }
        }
        .middle{
            grid-area: middle;
        }
        .right{
            grid-area: right;
        }
        .bottom{
            grid-area: bottom;
            span.title{
                @include dflex(row, unset, center, 10px);
                flex-wrap: wrap;                                       
            }
        }
    }

    @media screen and (max-width:375px) {
        height: auto;
        .country{
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 'left'
                                 'top'
                                 'middle'
                                 'right'
                                 'bottom';
            row-gap: 2rem;
            .left{
                padding: 0;
            }
            .middle{
                @include dflex(column, unset, unset, 1rem);
            }
            .right{
                @include dflex(column, unset, unset, 1rem);
            }
        }
    }

}




.border-item{  
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin-left: 10px;
    @include themed {
        box-shadow: 2px 4px 5px themeFy("ModeShadow");
    }
    @include themed {
        background-color: themeFy("ModeHeaderBackground");
    }            
    @media screen and (max-width:375px) {
        font-size: 2vw;
        padding: 0.4rem 0.8rem;
    }
    
}

