
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito Sans";
}
a{
    text-decoration: none;
}

.title{
    font-weight: 600;    
    opacity: 0.8;
    font-size: clamp(0.5rem, 2vw, 1rem);
}
.value{
    font-weight: 200;
    padding: 0 0.5rem;
    opacity: 0.6;
}


@media screen and (max-width:375px) {
    
}