@mixin dflex($dir, $jc, $ai, $gap){
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

//curssor + transition
@mixin cursorTransition($propertytransition){
    cursor: pointer;
    transition: $propertytransition 0.4s ease-in;
}

//spiner
@mixin spiner($width, $borderColor, $borderWidth){
  width: $width;
  height: $width;
  border-radius: 50%;
  border: $borderWidth solid $borderColor;
  border-left-color: transparent;
  border-right-color: transparent;
}



//theme mixin
@mixin themed() {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themeFy($key: "ModeElements") {
    @return map-get($theme-map, $key);
  }