.bartools{
    @include dflex(row, space-between, center, unset);
    grid-area: barTool;
    padding: 1rem 2rem;
    background-color: $LightModeBackground;

    .search{        
        @include dflex(row, unset, center, 10px);
        border: 1px solid #ebe5e5;
        padding: 7px 15px;
        border-radius: 4px;
        min-width: 300px;
        display: flex;    
        background-color: white;
        box-shadow: 2px 4px 5px #e0dada;

        input{
            border: none;
            outline: none;
            padding: 7px 10px;
        }
    }
    .continents{
        width: 250px;
        height: 45px;
        select{
            padding: 7px 15px;
            width: 100%;
            height: 100%;
            border: none;
            box-shadow: 1px 2px 5px rgb(238, 237, 237);
            outline: none;
            border-radius: 5px;

            option{
                margin-top: 20px;
            }
        }
    }
}