
$DarkModeElements: hsl(209, 23%, 22%);//Dark Blue
$DarkModeBackground: hsl(207, 26%, 17%);//Very Dark Blue
$LightModeText: hsl(200, 15%, 8%);//Very Dark Blue
$LightModeInput: hsl(0, 0%, 52%);//Dark Gray
$LightModeBackground: hsl(0, 0%, 98%);//Very Light Gray
$DarkModeText_LightModeElements: hsl(0, 0%, 100%);//White
