

main{
    background-color: $LightModeBackground;
    grid-area: main;
    padding: 1rem 2rem;
    
    .countries{
        display: grid;
        grid-template-columns: repeat( 4, minmax(0,max-content));
        row-gap: 3rem;
        column-gap: 3rem;
        justify-content: center;
        justify-items: center;
        
        .link{
            color: $LightModeText;            
        }
        
        .country{
            background-color: white;
            border-radius: 10px;
            img{
               border-radius: 10px 10px 0 0;
               width: 100%;
               height: 150px;
            }

            .country-data{
                padding: 1rem;
                .country-name{
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
            }
        }

    }

}
