

main{
    //background-color: $LightModeBackground;
    @include themed {
        background-color: themeFy("ModeBackground");
    }
    grid-area: main;
    padding: 1rem 2rem;
    min-height: 100vh;
    
    .countries{
        display: grid;
        grid-template-columns: repeat( 4, minmax(0,max-content));
        row-gap: 3rem;
        column-gap: 3rem;
        justify-content: center;
        justify-items: center;
        
        .link{
            @include themed {
                color: themeFy("ModeText");
            } 
        }
        
        .country{
            //background-color: white;
            @include themed {
                background-color: themeFy("ModeElements");
            }            
            border-radius: 10px;
            img{
               border-radius: 10px 10px 0 0;
               width: 100%;
               height: 150px;
            }

            .country-data{
                padding: 1rem;
                .country-name{
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
            }
        }

    }

}
